@font-face {
  font-family: "iconfont"; /* Project id 3448742 */
  src: url('iconfont.woff2?t=1654333043368') format('woff2'),
       url('iconfont.woff?t=1654333043368') format('woff'),
       url('iconfont.ttf?t=1654333043368') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yezi:before {
  content: "\e62b";
}

.icon-leidian:before {
  content: "\e600";
}

.icon-duoyun:before {
  content: "\e61d";
}

.icon-leidian1:before {
  content: "\e61e";
}

.icon-qing:before {
  content: "\e61f";
}

.icon-xiaoyu:before {
  content: "\e622";
}

.icon-xue:before {
  content: "\e623";
}

.icon-yintian:before {
  content: "\e624";
}

.icon-3jiwumai:before {
  content: "\e647";
}

.icon-tianqi:before {
  content: "\e694";
}

.icon-tianqi1:before {
  content: "\e631";
}

.icon-shouye:before {
  content: "\e635";
}

.icon-tianqi2:before {
  content: "\e625";
}

.icon-tianqi3:before {
  content: "\e618";
}

.icon-tianqi4:before {
  content: "\e61b";
}

.icon-tianqi5:before {
  content: "\e606";
}

.icon-tianqi-wu:before {
  content: "\e67c";
}

.icon-tianqi-xue:before {
  content: "\e67f";
}

.icon-tianqi-yintian:before {
  content: "\e610";
}

.icon-weather-16:before {
  content: "\e6e8";
}

.icon-weather-21:before {
  content: "\e6ec";
}

.icon-tianqi6:before {
  content: "\e60e";
}

.icon-tianqi7:before {
  content: "\e6fc";
}

.icon-tianqi-leidiantianqi:before {
  content: "\e6dc";
}

